:root {
  background-color: rgba(0, 0, 0, 0.5) #fff8e9;
  --primary: #00acc2;
  --secundary: #c10064;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(23, 23, 23, 0.2);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  height: 80vh;
}
body .contiene {
  background-color: rgba(177, 177, 177, 0.3);
  border: solid #333, 1px;
}

.logo {
  margin: 0;
  padding: auto;
  border-radius: 10px;
}
.logo img {
  border-radius: 5px;
  margin: 4px;
  border: solid var(--secundary), 1px;
}
h2 {
  color: var(--primary);
  font-family: merienda;
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
  height: 2rem auto;
  margin: 2rem;
}
p {
  font-size: 1.25em;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.nav-container a {
  color: white;
  font-size: 24px;
  font-weight: bold;

  text-decoration: none;
}

.nav-container a:hover {
  color: var(--primary);
}
h1 {
  font-family: merienda;
  font-size: 5em;
  color: white;
}

button {
  margin: 2rem;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: var(--secundary);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary);
}
/* /////////// */

/*  */
.contento {
  flex-wrap: wrap;
  max-width: 400px;
  margin: 20px auto;
  padding: 8rem;
  display: grid;
  /* Convierto el contenedor en un grid container */
  grid-template-columns: 1fr 1fr;
  /* Dos columnas con el mismo tamaño */
  gap: 20px;
  /* Espacio entre columnas */
  max-width: 1200px;
  /* Máxima anchura del contenedor */
  margin: 0 auto;
  /* Centrar el contenedor */
  padding: 20px;
  /* background-color: var(--secundary); */
  /* Color de fondo del contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
}
@media (max-width: 700px) {
  .contento {
    display: block;
  }
}
.left {
  max-width: 100%;
  /* Ancho máximo de la columna izquierda */
}

.right img {
  margin-top: 6rem;
  max-width: 100%;

  margin-bottom: 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
ul {
  list-style-type: none;
}
li {
  text-align: left;
  margin-top: 2rem;
}
.text-entry {
  height: 400px;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease,
    transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 20px;
  margin: 40px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Selecciona los hijos pares */
.text-entry:nth-child(even) {
  transform: translateX(100%);
}

.text-entry.visible {
  opacity: 1;
  transform: translateX(0);
}

.imagen {
  padding: 2rem;
  margin: 2rem;
}

.column {
  flex: 1;
  /* Cada columna ocupa el mismo espacio */
  margin: 10px;
  /* Espacio entre columnas */
}

.left {
  display: flex; /* Usar flexbox en esta columna */
  flex-direction: column; /* Apilar el contenido en columnas */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Centrar el texto */
}

.text-entry img {
  max-width: 100%;
  /* Las imágenes ocuparán el ancho completo de la columna */
  height: auto;
  /* Mantener la proporción de las imágenes */
  margin-bottom: 10px;
  /* Espacio entre imágenes */
}
/* ////////// */

.contiene {
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 10%;
  box-shadow: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(img3/01.jpg), url(img3/abajo.jpeg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  transition: transform 0.32s ease-in-out;
}

.card {
  background-color: white;
  width: 328px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
.card-header {
  width: 100%;
  display: block;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--color2);
}
.card-body-contentimg {
  border: 5px solid #f67c55;
  border-radius: 50%;
  background-color: #fcd3c6;
  box-shadow: 0px -10px 20px #f67c55;
  margin-top: -58px;
}
.card-body-contentimg-img {
  padding: 20px;
}
.card-body-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.card-body-title span {
  color: var(--color2);
}
.card-futer {
  display: flex;
  justify-content: space-around;
}
span {
  color: var(--primary);
}
h4 {
  color: var(--primary);
  margin-bottom: 10px;
}
.card-futer-poder {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  box-shadow: #999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
  transform: scale(1.05); /* Ligero aumento de tamaño al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  border-color: #333;
}

/* Ajuste para pantallas más pequeñas */
@media (max-width: 768px) {
  .gallery img {
    width: calc(50% - 10px); /* Dos imágenes por fila en tablets */
    height: auto; /* Altura automática para mantener la proporción */
  }
}

/* Ajuste para pantallas muy pequeñas */
@media (max-width: 480px) {
  .gallery img {
    width: 100%; /* Una imagen por fila en móviles pequeños */
    height: auto;
  }
}
.thumbnail {
  width: 20%;

  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: border-color 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(55, 55, 55);
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal-image {
  max-width: 90%;
  max-height: 90%;
}
.close {
  color: beige;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15;
  cursor: pointer;
}

/*  */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo-container {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .nav-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/Sin-titulo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.texto-centrado {
  margin-top: 8rem;
  text-align: center;
  font-size: 16px;

  line-height: 1.5;
}
#hero .btncabecera {
  cursor: pointer;
}
.parrafoh2 {
  margin: 2rem auto;
  font-weight: bold;
}
.texto-centrado img {
  width: 100%;
  max-width: 300px;
}

#nuestros-servicios {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#nuestros-servicios .container {
  padding: 150px 12px;
}

#nuestros-servicios h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-servicios p {
  display: none;
}

#nuestros-servicios .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/line-graph-svgrepo-com.png");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/front-end-cropped.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/estadist.jpg");
}
.recuadro {
  border: 2px solid var(--primary);
  padding: 10px;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.svg {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: block;
}
.contenedor {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
#frase {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.educación {
  margin: 2rem auto;
  font-weight: bold;
  line-height: 10rem;
}
.educación h3 {
  background-color: white;
  border-radius: solid #333;
}
/* ///////// */

.parallax {
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallax h2 {
  color: white;
}
.parallax p {
  color: var(--primary);
}
.content {
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.scroll-content {
  margin: 2rem;
  padding: 4rem;
  text-align: center;
  font-weight: bold;
  line-height: 3rem;
  background-color: #f0f0f0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: #999;
}
.articulo {
  margin: 4rem;
  text-align: justify;
  font-weight: bold;
  line-height: 2rem;
}
#ai {
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img2/ai.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 80vh;
}
.redes {
  text-align: center;
  margin: 4rem auto;
}
.redes img {
  width: 100%;
  text-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
#ai h2 {
  color: white;
  font-size: 9vw;
}
.carousel-section {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-item {
  min-width: 100%;
  padding: 0 10px;
}
.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.carousel-button.prev {
  left: 10px;
}
.carousel-button.next {
  right: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item img {
    height: 200px;
  }
  .carousel-button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
/* ////// */
.escoger {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary);
}

h3 {
  color: var(--primary);
  text-align: center;
}
h3 a {
  color: #c10064;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
#videos {
  margin-top: 20px;
  text-align: center;
}
#videos iframe {
  margin: 4rem;
  width: 50%;
  height: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  color: var(--secundary);
}

select {
  padding: 0.5rem;
  border: 2px solid var(--primary);
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.gallery-section {
  position: relative;
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 30%;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }
  .gallery img {
    width: 100%;
    margin: 10px 0;
  }
}
#resultado {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 105, 180, 0.1);
  border-radius: 5px;
  display: none;
}
/* ////////// */
.contact {
  background-color: #f8f9fa;
  padding: 80px 0;
}

form {
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*  */

input[type="text"],
input[type="mail"],
textarea {
  width: 90%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="mail"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

textarea {
  height: 150px;
  resize: vertical;
}

button:hover {
  justify-content: center;
  background-color: var(--secundary);
}

/* Estilos para placeholder */
::placeholder {
  color: #999;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 60px 0;
  }
}
.paginas ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.paginas a {
  text-decoration: none;
}
footer a {
  color: var(--primary);
}
.pie {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
