:root {
  background-color: rgba(0, 0, 0, 0.5) #fff8e9;
  --primary: #00acc2;
  --secundary: #c10064;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: rgba(23, 23, 23, 0.2);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  z-index: 1;
}
body {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  padding: auto;
  border-radius: 10px;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1.25em;
}
.nav-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.nav-container a {
  color: white;
  font-size: 24px;
  font-weight: bold;

  text-decoration: none;
}

.nav-container a:hover {
  color: var(--primary);
}
h1 {
  font-family: merienda;
  font-size: 3.5em;
  color: white;
}

button {
  margin: 2rem;
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: var(--secundary);
}

button:hover {
  background-color: var(--secundary);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo-container {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .nav-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/Sin-titulo-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.texto-centrado {
  margin-top: 8rem;
  text-align: center;
  font-size: 16px;

  line-height: 1.5;
}
#hero .btncabecera {
  cursor: pointer;
}
.parrafoh2 {
  margin: 4rem;
}
.texto-centrado img {
  width: 90%;
  max-width: 300px;
}

#nuestros-servicios {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#nuestros-servicios .container {
  padding: 150px 12px;
}

#nuestros-servicios h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-servicios p {
  display: none;
}

#nuestros-servicios .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/line-graph-svgrepo-com.png");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/front-end-cropped.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("img/estadist.jpg");
}
.recuadro {
  border: 2px solid rgb(2, 148, 105);
  padding: 20px;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.svg {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: block;
}

#frase {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
